$white: #ffffff;
$white-f2: #f2f2f2;
$black: #000000;

$gray-d3: #d3d3d3;
$gray-4a: #4a4a4a;
$gray-4d: #4d4d4d;
$gray-b0: #b0b0b0;
$gray-9b: #9b9b9b;
$gray-99: #999999;

$blur-2e: #2ea5e5;
$blue-6b: #6bb6ea;

$green-00: #00be00;


$orange-ff: #ff6700;

$red-ed: #ed9090;
$red-ff: #ff6666;

